body{
    background-color: #1E252B;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
input  {
    width: 30em;
    border-radius: 6em;
    padding: 0.4em;
    background-color: #D9D9D9;
}
.logo{
  width:10%;
  height:60%;
}
.nav {
display:flex;
align-items: center;
justify-content: space-evenly;
margin: 1em;
padding:10px;
background: #262D34;
border-radius: 10px;
height: 80px;
}
.nav .button.active {
  background-color: #FF0000; /* set background color */
  color: #FFFFFF; /* set text color */
}
.flex-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -3em;
}
.flex{
    height: 52em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.flex-left{
    margin-top: 4.2em;
    height : 10em;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-left: auto;
    max-width: 16em;
}
.flex-right{
  margin-top: 4.2em;
  height : 20em;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-right: auto;
  padding-right: 1em;
  padding-left: 2em;
  max-width: 16em;
  padding-bottom: 5em;
}
div.scroll{
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
    height: 650px;
    padding-bottom: 4em;
}
.posts{
    color: rgb(160, 158, 158);
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin:1em;
    padding-right: 10em;
    padding-left: 1.5em;
}
.createPost{
    /* border: solid #262D34; */
    background-color: #262D34;
    border-radius: 1em;
    margin-top: 9em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}
.commentContainer{
  padding-top: 2em;
  margin-top: 8em;
  padding-bottom: 5em;
}
.popular{
    color: rgb(160, 158, 158);
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
}
.popularAdmin{
  color: rgb(160, 158, 158);
  border: solid #262D34;
  background-color: #262D34;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 7em;
  padding-top: 1em;
}
.categories{
    color: rgb(160, 158, 158);
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 5em;
}
footer{
    color: rgb(160, 158, 158);
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin-top: 2em;
    font-size: small;
    padding-bottom: 2em;
    position: fixed;
    bottom: 0;
    max-height: 4em;
    width: 100%;
}
.tos {
    display: inline-block;
    width:14em;
    padding-left: 1.4em;
}
.button {
  background-color: #A67EF3;
  border: 2px solid #616161;
  border-radius: 30px;
  box-shadow: #616161 2.5px 1.5px 0 0;
  color: #3a3a3a;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 0.7em;
  margin-top:1.3em;
  padding: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.toggleComment{
  background-color: #A67EF3;
  border-radius: 10px;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.7em;
  margin-top:1.1em;
  padding: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.toggleComment:hover {
  background-color: #fbeee0;
  transition: 0.4s;
}
.deleteButton1{
  background-color: #A67EF3;
  border-radius: 10px;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.7em;
  margin-top:1.1em;
  padding: 0.8em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#UserStatistics{
  background-color: #A67EF3;
  border: 1px solid #616161;
  border-radius: 20px;
  width:40px;
  height:35px;
  box-shadow: #616161 2.5px 1.5px 0 0;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.7em;
  margin-top:1.3em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#UserStatistics:hover{
  background-color: #fbeee0;
  transition: 0.4s;
}
#myChart {
  width: 400px;
  height: 400px;
}

h1{
    background-color:#262D34;
    max-width: fit-content;
    padding:3px;
    border-radius:10px;
    color: #A67EF3;
}
.button:hover {
  background-color: #fbeee0;
  transition: 0.4s;
}

.button:active {
  box-shadow: #616161 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button{
    min-width: 20px;
    padding: 0 20px;
  }
}
img {
    width: 20em;
    height: 10em;
    border-radius: 7px;
}
.createPosts input{
    padding: 1.2em;
    margin: 1.2em;
    border-radius: 1.2em;
}
#description{
    padding-bottom: 11em;
    border-radius: 1.2em;
}
.flex-create{
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
#commentBox{
    padding-bottom: 6em;
    margin-bottom: 2em;
    border-radius: 1.2em;
}
.flex-comment{
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.comment{
    color: rgb(160, 158, 158);
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin: 1em;
    padding-right: 4em;
    padding-left: 4em;
}
.error {
    border-color: red;
}
.postContainer {
    display: flex;
    flex-direction: row;
    color: rgb(160, 158, 158);
}
.postContainer div {
    padding-right: 1em;
}
.upvote{
  color: rgb(160, 158, 158);
}
.downvote{
  color: rgb(160, 158, 158);
}
.upvote.active{
    color: #A67EF3;
}
.downvote.active{
  color: #A67EF3;
}

/* Set max height for community-container */
.community-container {
    max-height: 50em;
    overflow-y: auto; /* add vertical scrollbar if content overflows */
  }
  
  /* Display each community block as a separate element */
  .communities {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(160, 158, 158);
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 5px;
    margin-top:1em;
  }
  .top {
    display: inline-block;
    padding-right: 5em;
  }
  a {
    color: #A67EF3; /* set the default link color */
    text-decoration: none; /* remove the underline */
  }
  
  a:hover {
    color: #fbeee0; /* set the link color when hovering over it */
  }
  .search-container{
    display: flex;
    align-items: center;
  }
  .search-container form {
    display: flex;
    align-items: center;
  }
 .search-container input[type="text"] {
    width: 150%;
    padding: 10px;
    padding-right: 5em;
    border: none;
    border-radius: 5px;
    font-size: 11px;
  }
  .search-container button[type="submit"] {
    width: 25%;
    background-color: #A67EF3;
    border-radius: 16px;
    cursor: pointer;
    font-size: 0.7em;
    margin-left: 0.5em;
  }
  

  
  