body{
    background-color: #1E252B;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
input {
    width: 30em;
    border-radius: 6em;
    padding: 0.4em;
}
.nav {
position: absolute;
width: 100%;
height: 3em;
left: 0px;
top: 0px;
background: #262D34;
}
.flex-container{
    display: flex;
    flex-direction: row-reverse;
}
.flex{
    height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.flex-left{
    margin-top: 5em;
    height : 20em;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-left: auto;
    max-width: 10em;
}
div.scroll{
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
    height: 600px;
}
.posts{
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin:1em;
    padding-right: 20em;
}
.createPost{
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin:1em;
    padding: 1em;
}
.popular{
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
}
.categories{
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin-top: 2em;
}
footer{
    border: solid #262D34;
    background-color: #262D34;
    border-radius: 1em;
    margin-top: 2em;
    font-size: x-small;
}
.button {
  background-color: #A67EF3;
  border: 2px solid #616161;
  border-radius: 30px;
  box-shadow: #616161 2.5px 1.5px 0 0;
  color: #3a3a3a;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 0.7em;
  padding: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fbeee0;
  transition: 0.4s;
}

.button:active {
  box-shadow: #616161 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button{
    min-width: 20px;
    padding: 0 20px;
  }
}